* {
    background-color: black;
}

h1 {
    text-align: center;
}

h1 span {
    background-color: rgb(25, 4, 27);
    color: rgb(94, 94, 94);
    font-size: 54px;
    font-family: 'Times New Roman', Times, serif;
}
ul {
    text-align: center;
    list-style-type: none;
}   